body {
    background-color: grey;
}
h1{
    background-color: seashell;
}
p{
    background-color: green;
}

.es{
    background-color: cornsilk;
    
}

#es{
    text-decoration: underline;
    color: firebrick;
}