h1{
    text-decoration: white;
    color: whitesmoke;
}

.navigatie-chicken-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 90px;
}

.navigatie-chicken-menu {
    background-color: rgb(43, 41, 39);
}

.navigatie-chicken-menu {
    color: rgb(255, 255, 255);
}

h4{
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    display: flex;
}

img {
    justify-content: left;
    width: 700px ;
}

.topnav input[type=text] {
    float: none;
    padding: 12px;
    border: rgba(40, 43, 54, 0.801);
    margin-top: 8px;
    margin-bottom: 16px;
    font-size: 17px;

}